<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 60%;
        width: 50%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>

<script>
    function fullAddress(address) {
        return `${address},{{city}}`;
    }

    function getInitAddresses() {

      var places = [];
      {% for place in places %}
          var place = {
            id: {{place.id}},
            name: "{{place.name}}",
            address: "{{place.address}}",
            fullAddress: fullAddress("{{place.address}}"),
          }
          places.push(place);
      {% endfor %}
      return places;
    }
</script>
<body>

    <div id="map"></div>
    <div class="container">
      <div class="row">
        <div class="col-4">
            <div id="flat" >
                <select id="current-flat" onchange="onNewFlatSelected(this.options[this.selectedIndex]);">
                    {% for flat in flats %}
                        <option value={{flat.id}}>{{flat.address}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
      </div>
      <div class="row">
            <div>
                <ul>
                {% for place in places %}
                    <li>
                        <div class="row" id={{place.id}}>
                            <div class="col-5">
                                {{place.name}}: {{place.address}}
                            </div>
                            <div class="col-sm" onclick="showCyclingRouteToPlace(fullAddress('{{place.address}}'))">
                              <button>Cycle</button>
                            </div>
                            <div  class="col-sm">
                              <p id="cycle-time"></p>
                            </div>
                            <div class="col-sm" onclick="showTransitRouteToPlace(fullAddress('{{place.address}}'))">
                              <button>Transit</button>
                            </div>
                            <div class="col-sm">
                              <p id="transit-time"></p>
                            </div>
                        </div>
                    </li>
                {% endfor %}
                </ul>
            </div>
       </div>
            <div class="row">
                <div class="col border">Monday</div>
                <div class="col border">Tuesday</div>
                <div class="col border">Wednesday</div>
                <div class="col border">Thursday</div>
                <div class="col border">Friday</div>
                <div class="col border">Saturday</div>
                <div class="col border">Sunday</div>
            </div>
            <div class="row">
                <div id="mon" class="col border"></div>
                <div id="tue" class="col border"></div>
                <div id="wed" class="col border"></div>
                <div id="thu" class="col border"></div>
                <div id="fri" class="col border"></div>
                <div id="sat" class="col border"></div>
                <div id="sun" class="col border"></div>
            </div>

    </div>
    <div id="stats"></div>
        {% load staticfiles %}
        <script src="{% static 'commute/js/cachemanager.js' %}"></script>
        <script src="{% static 'commute/js/map.js' %}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDYf7j5i15fANkXyRU-A4zjt8_q0AnTzkE&callback=initMap"
    async defer></script>

</body>
</html>


            <!--{% for route in routes %}-->
                <!--<div class="row" id={{route.id}}>-->
                    <!--<div class="col border">-->
                        <!--{% if route.start_place_type == 1 %}-->
                            <!--<div class="route-start-place-current-flat">Home</div>-->
                        <!--{% else %}-->
                            <!--{{route.start_place_custom}}-->
                        <!--{% endif %}-->
                    <!--</div>-->
                    <!--<div class="col border">-->
                        <!--<div class="route-destination">{{route.destination_place}}</div>-->
                    <!--</div>-->
                    <!--<div class="col border">-->
                        <!--{% if route.return_place_type == 1 %}-->
                            <!--<div class="route-return-place-current-flat">Home</div>-->
                        <!--{% else %}-->
                            <!--{{route.return_place_custom}}-->
                        <!--{% endif %}-->
                    <!--</div>-->
                    <!--<div class="col border">-->
                        <!--{% for day in route.day %}-->
                            <!--{{day}}{% if not forloop.last %}, {% endif %}-->
                        <!--{% endfor %}-->
                    <!--</div>-->
                <!--</div>-->
            <!--{% endfor %}-->