<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 60%;
        width: 50%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
</head>

<script>
    function fullAddress(address) {
        return `${address},{{city}}`;
    }

    function getInitAddresses() {

      var places = [];
      {% for place in places %}
          var place = {
            id: {{place.id}},
            name: "{{place.name}}",
            address: fullAddress("{{place.address}}"),
          }
          places.push(place);
      {% endfor %}
      return places;
    }
</script>
<body>

    <div id="map" style="float: left;"></div>
    <div id="flat" >
        <select id="current-flat" onchange="updateFlatMarker();">
            {% for flat in flats %}
                <option value="{{flat.id}}">{{flat.address}}</option>
            {% endfor %}
        </select>
    </div>
    <div id="stats"></div>
    <div style="float: right;">
        <ul>
        {% for place in places %}
            <li>
                <div id="{{place.id}}" onclick="showRouteToPlace(fullAddress('{{place.address}}'))">
                    {{place.name}}: {{place.address}}
                </div>
            </li>
        {% endfor %}
        </ul>
    </div>
        {% load staticfiles %}
        <script src="{% static 'commute/js/map.js' %}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDYf7j5i15fANkXyRU-A4zjt8_q0AnTzkE&callback=initMap"
    async defer></script>

</body>
</html>